.main {
  max-height: 100vh;
  width: 100vw;
}

.panda {
  height: 60vh;
  margin-top: 10vh;
}

.images {
  position: absolute;
  top: 0;
  width: 100%;
  height: 340vh;
}

.imgtop {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 100%;
  top: 0;
  background-image: url("../../assets/images/flowers bg.gif");
  background-size: 100% 100%;
}

.whatwedopage {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 10vh;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.whatwedoimg {
  height: 50vh;
  color: white;
  background-image: url("../../assets/images/mentalhealthband.jpg");
  background-size: 100% 100%;
  margin-top: 20vh;
  padding: 5%;
}

.maincont {
  position: absolute;
  top: 0;
  width: 100%;
}

.toptrans {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infosec {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.whatwedo {
  height: 50vh;
  width: 100%;
}

.spaces {
  height: 90vh;
  width: 100%;
  background-color: white;
}

.content {
  height: 50vh;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  font-family: country;
  color: white;
  font-size: 800%;
}

.tagline {
  font-family: country;
  color: white;
  font-size: 200%;
}

.name2 {
  font-family: country;
  color: black;
  font-size: 300%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2%;
}

.info {
  font-family: country;
  color: black;
  font-size: 200%;
  padding: 5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  line-height: 10vh;
}

.title2 {
  font-size: 200%;
  text-align: center;
  font-family: country;
  width: 20vw;
  margin-left: 70%;
}

.infowhatwedo {
  padding: 2% 0;
  margin-left: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20vw;
  line-height: 5vh;
  text-align: center;
  font-size: 150%;
}

.spacespace {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.space {
  background-color: #e9e9e9;
  height: 30vh;
  width: 20vw;
  margin: 2% 10%;
}

.space:hover {
  -webkit-transform: perspective(200px) translateZ(20px);
          transform: perspective(200px) translateZ(20px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.spaceimg {
  width: 100%;
  height: 80%;
  font-size: 800%;
  background-size: 100% 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: aqua;
}

.namespace {
  font-size: 200%;
  text-align: center;
}

@media screen and (max-width: 5px) {
  .main {
    max-height: 100vh;
    width: 100vw;
  }
  .name {
    font-size: 20vh;
  }
  .tagline {
    font-size: 5vh;
  }
  .name2 {
    font-size: 10vh;
    padding: 0.2%;
  }
  .info {
    font-size: 5vh;
    padding: 2%;
  }
  .title2 {
    font-size: 5vh;
  }
  .infowhatwedo {
    padding: 0.2% 0;
    margin-left: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 20vh;
    line-height: 5vh;
    text-align: center;
    font-size: 4vh;
  }
}
/*# sourceMappingURL=home.component.css.map */